<h1>Auction Items</h1>

<% if current_user %>
	<%= link_to 'Log out', destroy_user_session_path, method: :delete %>
	<br>
	<%= link_to 'My Profile', user_path(current_user.id) %>
	<% else %>
	<%= link_to 'Sign Up', new_user_registration_path %>
	<br>
	<%= link_to 'Sign In', new_user_session_path %>
	<br>
	<% end %>


<% @products.each do |x| %>
<h3><%= x.title %></h3><br>
<span>Description: </span><%= x.description %><br>
<span>Expires: </span><strong><%= x.deadline.strftime('%l:%M %p') %></strong><br>
<span>Created by: </span><%= x.user_id %>
<br>
<br>

<br><hr>
<% end %>


