<div class="container">

<h2>Log in</h2>
<hr>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), :class => 'form-horizontal') do |f| %>

  <div class="form-group">
    <%= f.label :email, :class => 'control-label' %>
    
    <div style="width: 35%;">
    <%= f.email_field :email, :class => 'form-control', autofocus: true %>
  </div>
  </div>
  <br>

  <div class="form-group">
    <%= f.label :password, :class => 'control-label' %>
    
    <div style="width: 35%;">
    <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
  </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => 'btn btn-info' %>
  </div>
<% end %>

<br>
<%= render "devise/shared/links" %>


<%= link_to image_tag("soundcloud_connect.png"), soundcloud_connect_path %>
</div>

