<h3>Welcome to your profile <%= @user.name %></h3>

<h4>Take a look at your current auctions: </h4>


<ul>
	
<% @products.each do |x| %>
<li>
<h3><%= x.title %></h3>
<span>Description: </span><%= x.description %><br>
<span>Current bid: </span>
<% if x.bid == nil %>
<span>Woops, no current bid... yet.</span>
<% else %>
<%= x.bid %>
<% end %>
</li>
<% end %>
	
</ul>



<h4>Want to create a new auction?</h4>

<%= link_to 'Click Me!', new_user_product_path(current_user) %>
<br><br>

<h4>Other options</h4>
<%= link_to 'All Auctions', products_path %>
<br><br>
<%= link_to 'All Users', users_path %>
